<%= form_for(@purchase_order) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% @purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Date %><br>
    <%= f.date_select :Date %>
  </div>
  <b>Purchase Order Number</b>
    <%= @purchase_order.purchase_order_number %><br>
<!--   <div class="field">
    f.label :purchase_order_number %><br>
    f.text_field :purchase_order_number %>
  </div> -->
<!--   <div class="field">
      f.fields_for :quantities do |quantity| %> Quantity.new
        render 'quantity_fields', f: quantity %>
      end %>
  </div> -->
  <!-- <b> Item (multiselect) </b><br> -->
    <b><%= f.label :item_ids, "Item(s)" %></b><br>
    <%= f.collection_select :item_ids, Item.order(:part_number), :id, :name_and_number, {}, {multiple: true} %><br>
  <b>Quantity</b><br>
<!--     < f.fields_for :quantities, @purchase_order.quantities.build do |quantity| %>
      < quantity.number_field :amount %>
    <end %> #### gives unpermitted parameters: quantities_attributes -->

  <!-- from SO question -->
    <!-- @purchase_order.quantities.each do |variable| %> -->
    <!-- @qq = @purchase_order.quantity %> -->
      <!--      f.fields_for :quantities, variable do |j| %>
           j.label :amount, "Amount" %>
         j.input :amount %>
       end %>
     end %> -->
     <!-- <h3>fields for</h3> -->
       <%= f.fields_for :quantities do |quantities| %>
        <%= quantities.label :count %>
        <%= quantities.text_field :count %>
         <!-- render 'quantity_fields', :f => builder %> -->
       <% end %>
      <!-- MY ANSWER -->
<!--          < f.fields_for @q do |quantity| %> 
          <  quantity.text_field :count %><br>
          < end %> -->


    <!-- @q.amount %><br> -->
<!--      item_ids.each.do |item| %>
       f.input :quantities_attributes %>
     end %> -->
  <!-- <b> Supplier (multiselect)</b><br> -->
    <b><%= f.label :supplier_ids, "Supplier" %></b><br>
    <%= f.collection_select :supplier_ids, Supplier.order(:name), :id, :name, {}, {multiple: true} %><br>
<!--     CHECK BOXES
  <b>Item(s):</b><br>
   Item.all.each do |item| 
     check_box_tag "purchase_order[item_ids][]", item.id,
    @purchase_order.item_ids.include?(item.id), id: dom_id(item) %>
     label_tag dom_id(item), item.part_number %><br>
   end %> -->
<!--   <b>Supplier:</b><br>
   Supplier.all.each do |supplier| %>
     check_box_tag "purchase_order[supplier_ids][]", supplier.id, 
    @purchase_order.supplier_ids.include?(supplier.id), id: dom_id(supplier)%>
     label_tag dom_id(supplier), supplier.name %><br>
   end %> -->
<!--   <div class="field">
    f.fields_for :orders, Order.new do |order| 
      render 'order_fields', f: order 
     end 
  </div> -->
<!--   <div class="field">
    f.label :supplier <br>
    f.text_field :supplier 
  </div> -->
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <%= button_to 'Create Purchase Order', {:controller => :purchase_orders, 
             :action => 'create', :id => @purchase_order.id } %>
<!--   <  button_to 'Cancel', {:controller => :purchase_orders, 
              :action => 'destroy', :id => @purchase_order.id }, 
              :method => :delete %> -->
  <!--  link_to 'Cancel', purchase_orders_path, method: :delete, data: { confirm: 'Are you sure?' } %> -->
 <% end %>
