<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @item.part_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>On order qty:</strong>
  <%= @item.on_order_qty %>
</p>

<p>
  <strong>Received qty:</strong>
  <%= @item.in_inspection_qty %>
</p>

<p>
  <strong>Stock qty:</strong>
  <%= @item.stock_qty %>
</p>

<p>
  <strong>Ncmr qty:</strong>
  <%= @item.ncmr_qty %>
</p>

<!--  @item.name %> </br>
Purchase Orders:
<ul>
  @item.purchase_orders %>
  @item.purchase_orders.each do |purchase_order| %>
   <li> purchase_order.purchase_order_number %></li>
  end %>
  @item %>
</ul>
 -->
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
