<p id="notice"><%= notice %></p>

<p>
  <strong>Lot Number:</strong>
  <%= @lot.number %>
</p>
<p>
  <strong> Initial Quantity:</strong>
  <%= @lot.initial_qty %>
</p>
<p>
  <strong> Cleaned:</strong>
  <%= @lot.cleaned %>
</p>
<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
