<h1>Listing orders_js</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_js.each do |orders_j| %>
      <tr>
        <td><%= orders_j.name %></td>
        <td><%= link_to 'Show', orders_j %></td>
        <td><%= link_to 'Edit', edit_orders_j_path(orders_j) %></td>
        <td><%= link_to 'Destroy', orders_j, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orders j', new_orders_j_path %>
